.special{
	background: #f1f1f1;
	padding-top: 1.3333rem;
	padding-bottom: 1.3333rem;
}
.coach_info{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0.4rem 0.4rem 0.266rem 0.4rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
}
.coach_info img{
	width: 1.866rem;
	height: 1.866rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}
.coach_right{
	width: 6.933rem;
	height: auto;
}
.coach_title{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
.coach_title b{
	font-size: 0.4rem;
	color: #333333;
	margin-right:0.333rem;
}
.coach_title>span{
	display: flex;
	align-items: center;
	width: auto;
	height: 0.426rem;
	border: 0.026rem solid #50bff2;
	border-radius: 0.066rem;
	-webkit-border-radius: 0.066rem;
	-moz-border-radius: 0.066rem;
	padding: 0 0.106rem;
	font-size: 0.266rem;
	color: #50bff2;
}
.belong{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.186rem 0 0.213rem 0;
	font-size: 0.32rem;
	color: #999999;
}
.belong_school{
	font-size: ;
}
.coach_score{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
}
.coach_score span{
	margin-right: 0.066rem;
}
.coach_address{
	width: 100%;
	height: auto;
	display: flex;
}
.coach_address i{
	font-size: 0.533rem!important;
	color: #999999;
	margin-right: 0.133rem;
}
.coach_address span{
	font-size: 0.346rem;
	color: #999999;
}
.sign_up{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0.2rem 0;
	margin-top: 0.2133rem;
	background: #FFFFFF;
}
.sign_up li{
	width: 33.3333333%;
	height: auto;
	text-align: center;
	float: left;
}
.sign_up li i{
	display: block;
	width: 100%;
	font-size: 0.4266rem;
	color: #333333;
	margin-bottom: 0.08rem;
}
.sign_up li span{
	display: block;
	width: 100%;
	font-size: 0.3466rem;
	color: #999999;
}
.choose_class{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #FFFFFF;
	margin-top: 0.2133rem;
}
.title{
	width: 100%;
	height:1rem;
	border-bottom: 0.0133rem solid #eeeeee;
	font-size: 0.4rem;
	color: #333333;
	line-height: 0.9866rem;
	padding: 0 0.4rem;
	box-sizing: border-box;
}
.class_con{
	width: 100%;
	height: auto;
	padding: 0.2666rem 0.4rem;
	box-sizing: border-box;
}
.class_type{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 0.2rem;
}
.class_type span{
	float: left;
	font-size: 0.4rem;
	color: #333333;
}
.price{
	float: left;
	font-size: 0.48rem;
	color: #fe9246;
	float: right;
}
.safe{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.safe li{
	width: 100%;
	font-size:0.3466rem;
	color: #999999;
	margin-top: 5px;
}
.place_con{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.place{
	width: 7.7333rem;
	height: auto;
	overflow: hidden;
}
.place span{
	display: block;
	width: 100%;
	font-size: 0.4rem;
	color: #333333;
	margin-bottom: 0.1333rem;
}
.place p{
	display: block;
	width: 100%;
	font-size: 0.3466rem;
	color: #999999;
}
.next{
	font-size: 0.6666rem!important;
	color: #9a9a9a;
}
.teacher_con{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 0.4rem;
	box-sizing: border-box;
}
.teacher{
	width: 100%;
	height: auto;
}
.teacher li{
	width: 100%;
	height: auto;
    overflow: hidden;
    padding: 0.2666rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.0133rem solid #eeeeee;
}
.teacher li:last-child{
	border: none;
}
.teacher_detail{
	width:6.5333rem;
	height: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.head_img{
	width: 1.04rem;
	height: 1.04rem;
	margin-right: 0.24rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}
.teacher_info{
	display: table;
	width: auto;
	height: auto;
	overflow: hidden;
}
.name{
	display: table;
	width: auto;
	margin-bottom: 0.2133rem;
}
.name i{
	font-size: 0.3733rem;
	color: #333333;
	line-height: 0.4266rem;
	float: left;
	margin-right: 0.2133rem;
}
.name span{
	display: block;
	width: 1.2266rem;
	height: 0.4266rem;
	text-align: center;
	line-height: 0.4rem;
	border: 0.0133rem solid #50bff2;
	font-size: 0.2666rem;
	color: #50bff2;
	border-radius: 0.0666rem;
	-webkit-border-radius: 0.0666rem;
	-moz-border-radius: 0.0666rem;
	float: left;
}
.mark{
	display: flex;
	align-items: center;
	width: auto;
}
.mark span{
	font-size: 0.32rem;
	color: #999999;
	float: left;
}
.star{
	float: left;
	margin: 0 0.16rem;
}
.score{
	font-size: 0.32rem;
	color: #999999;
	float: left;
}
.brief{
	font-size: 0.3466rem;
	color: #999999;
}
.comment{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.2133rem;
	background: #FFFFFF;
}
.comment_title{
	width: 100%;
	height: 1rem;
	border-bottom: 0.0133rem solid #eeeeee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.4rem;
	box-sizing: border-box;
}
.comment_title span{
	font-size: 0.4rem;
	color: #333333;
}
.no_commit{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.2133rem;
	background: #FFFFFF;
}
.send_commit{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.send_but{
	width: 9.2rem;
	height: 1.066rem;
	border: 1px solid #c0d0e3;
	border-radius: 1.333rem;
	-webkit-border-radius: 1.333rem;
	-moz-border-radius: 1.333rem;
	background: #f8faff;
	font-size: 0.4rem;
	color: #6fcffb;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.533rem 0;
}
.send_but i{
	font-size: 0.666rem;
}
.write{
	width: 1.8933rem;
	height: 0.64rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #6fcffb;
	border-radius: 1.3333rem;
	-webkit-border-radius: 1.3333rem;
	-moz-border-radius: 1.3333rem;
	font-size: 0.32rem;
	color: #ffffff;
}
.write i{
	font-size: 0.4666rem!important;
}
.comment_list{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.1333rem;
}
.comment_list li{
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 0.0133rem solid #eeeeee;
	padding: 0.2666rem 0.4rem;
	box-sizing: border-box;
}
.user{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user_detail{
	width:6rem;
	height: auto;
	display: flex;
	align-items: center;
}
.user_detail img{
	width: 1.04rem;
	height: 1.04rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	margin-right: 0.2133rem;
	float: left;
}
.user_info{
	width: 5.066rem;
	height: auto;
	margin-bottom: 0.1066rem;
	float: left;
}
.user_info b{
	display: table;
	width: 100%;
	font-size: 0.4rem;
	color: #333333;
}
.user_key{
	width: auto;
}
.user_key i{
	display: block;
	padding: 0.04rem 0.1333rem;
	box-sizing: border-box;
	border:1px solid #bbbbbb ;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	font-size: 0.2933rem;
	color: #999999;
	margin: 0.1066rem 0.1066rem 0 0;
	float: left;
}
.comment_con{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0.2666rem 0;
	font-size: 0.3733rem;
	color: #666666;
}
.small_img{
	width: 100%;
	height: auto;
}
.small_img img{
	width: 1.3066rem;
	height: 1.3066rem;
	margin: 0.1066rem 0.4rem 0 0;
}
.comment_time{
	width: 100%;
	text-align: right;
	font-size: 0.32rem;
	color: #999999;
}
.more_comment{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 0.3066rem 0 0.4266rem 0;
}
.more_comment span{
	display: block;
	width: 3.0666rem;
	height: 0.6666rem;
	text-align: center;
	line-height: 0.64rem;
	border:1px solid #e1e1e1 ;
	border-radius: 1.3333rem;
	-webkit-border-radius: 1.3333rem;
	-moz-border-radius: 1.3333rem;
	font-size: 0.3466rem;
	color: #999999;
}
.footer_nav{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.32rem;
	border-top: 0.0133rem solid #d7d6d5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
}
.footer_nav_list{
	display: table;
	height: auto;
}
.footer_nav_list li{
	width: auto;
	text-align: center;
	font-size: 0.2933rem;
	float: left;
	margin: 0 0.3rem;
}
.footer_nav_list li i{
	font-size: 0.5333rem!important;
	color: #666666;
}
.footer_nav_list li p{
	color: #666666;
}
.footer_nav_list_change p{
	color: #6fcffb!important;
}
.footer_nav_list_change i{
	color: #6fcffb!important;
}
.baoming{
	width: 4.4rem;
	height: 1.0666rem;
	text-align: center;
	line-height: 1.0666rem;
	background: #6fcffb;
	border-radius: 1.3333rem;
	-webkit-border-radius: 1.3333rem;
	-moz-border-radius: 1.3333rem;
	background: #6fcffb;
	font-size: 0.3733rem;
	color: #FFFFFF;
	margin: 0 0.4rem;
}
.picture{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.picture_content{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.picture_con{
	width: 100%;
	height: 7rem;
	overflow: hidden;
	position: relative;
}
.picture_list{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.picture_list li{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
}
.picture_list li img{
	width: 100%;
	height: 100%;
}
