.special {
    background: #f1f1f1;
    /* padding-top: 1.3333rem; */
    padding-bottom: 2rem;
}
.evaluate_title {
    width: 100%;
    height: 1.3333rem;
    padding: 0 0.4rem;
    background: #6fcffb;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.evaluate_title a {
    display: flex;
    align-items: center;
}
.evaluate_title i{
	font-size: 0.6666rem!important;
    color: #FFFFFF;
}
.coach_info_box {
    padding: 0.4rem 0.4rem 0.266rem 0.4rem;
    background: #FFFFFF;
}
.coach_info img {
    width: 1.866rem;
    height: 1.866rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    padding-right: 0.25rem;
}
.coach_right {
    width: 6.933rem;
    height: auto;
    flex-grow: 1;
}
.coach_title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 3px;
	font-weight: 700;
}
.coach_score {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
	font-size: 0.34666rem;
}
.belong {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0.186rem 0 0.213rem 0;
    color: #999999;
}
.coach_right .belong{
	width: 5.333rem;
}
.msgtag{
	color: white;
	position: absolute;
	right: -0.4rem;
	width: 2.5066rem;
	height: 0.81333rem;
	line-height: 0.81333rem;
	background: rgb(111,207,251);
	border-radius: 0.81333rem 0 0 0.81333rem;
	box-sizing: border-box;
	padding-left:0.32rem;
}