/* 我的失物 */
.myLost{
	/* background: rgb(241,241,241); */
}
.flexDirection-col{
	flex-direction: column;
}
.myLostList{
	margin-bottom: .4rem;
	border-radius: .133333rem;
	/* border: 1px solid rgb(222,222,222); */
}
.myLostList .lostHead{
	background: white;
	border-bottom: .013333rem solid rgb(224,224,224);
	padding: 0 .333333rem;
	height: 2.666667rem;
	justify-content: space-between;
	align-items: center

}
.myLostList .lostHead img{
	width: 1.84rem;
	height: 1.84rem;
	border-radius: 100%;
	margin-right: .266667rem;
}
.myLostList .lostHead .lostHead-center{
	width: 3.8rem;
	height: 2rem;
	flex-direction: column;
	justify-content: space-between;
}
.myLostList .lostHead .lostHead-center>div.firstDiv{
    height: .426667rem;
    line-height: 0;
}
.contactHim{
    font-size: .293333rem;
    color: white;
    background: rgb(111,207,251);
    border-radius: .053333rem;
    text-align: center;
    line-height: .48rem;
    width: 1.333333rem;
}
.myLostList .lostHead  .peopleName{
	font-size: .4rem;
	color: rgb(51,51,51);
	margin-right: .266667rem;
}

.myLostList .lostHead .lostName{
	display: inline-block;
	height: .426667rem;
	line-height: .426667rem;
	font-size: .32rem;
	color: white;
	background: rgb(111,207,251);
	padding: 0 .266667rem;
	border-radius: .08rem;
}
.myLostList .lostHead-right{
	justify-content: space-between;
    align-items: flex-end;
    height: 2rem;
}
.myLostList .lostHead-right>div.firstDiv{
    line-height: 0;
}
.myLostList .lostHead-right .lostStatus{
	display: inline-block;
	line-height: .426667rem;
	color: white;
	font-size: .266667rem;
	padding: 0 .266667rem;
    border-radius: .053333rem;
    background: rgb(254,146,70);
}
.myLostList .lostHead-right .promiseMoney{
	font-size: .346667rem;
    color: rgb(153,153,153);
    align-items: baseline;
}
.myLostList .lostHead-right .promiseMoney span{
    color: rgb(254,146,70);
}
.myLostList .lostHead-right .lostEye{
	font-size: .266667rem;
	color: rgb(153,153,153);
	line-height: .533333rem;
}
.myLostList .lostHead-right .lostEye i{
	font-size: .346667rem;
	color: rgb(153,153,153);
    float: left;
    margin-right: .08rem;
}
.myLostList .lostBody{
    margin-left: .333333rem;
}
.myLostList .lostBody .lostBody-address{
    padding: .373333rem .4rem .333333rem 0;
	line-height: .48rem;
	font-size: .346667rem;
	color: rgb(69,69,69);
	border-bottom: .013333rem solid rgb(224,224,224);
}
.myLostList .lostBody .lostBody-address i{
	font-size: .426667rem;
	float: left;
	margin-right: .133333rem;
}
.myLostList .lostBody  .lostBody-content{
    padding: .373333rem .4rem .333333rem 0;
	font-size: .32rem;
	line-height: .533333rem;;
	color: rgb(139,139,139);
	position: relative;
    overflow: hidden;
    border-bottom: .013333rem solid rgb(224,224,224);
}
.myLostList .lostBody  .lostBody-content .content{
    padding-left: .266667rem;
}
.myLostList .lostBody  .lostBody-content img{
	width: 100%;
	border-radius: .053333rem;
	margin-bottom: .133333rem;
	margin-top: .133333rem;
}
.barBar{
	height: .533333rem;
	line-height: .533333rem;
    font-size: .373333rem;
    padding-bottom: .266667rem;
    color: rgb(51,51,51);
}
.barBar>span{
    display: inline-block;
    width: .066667rem;
    height: .533333rem;
    background: rgb(80,191,242);
    border-radius: .066667rem;
    margin-right: .133333rem;
}
.lanseBar{
	color: rgb(125,207,244);
	border: 1px dashed rgb(125,207,244);
}
.huangseBar{
	color: rgb(255,162,96);
	border: 1px dashed rgb(255,162,96);
}
.f_40{
    font-size: .533333rem;
}
