.special{
    background: rgb(241,241,241);
}
.slide_banner{
    width: 100%;
    height:6.693333rem;
}
.slide_banner img{
    width: 100%;
}
.hd li img{
    width: 100%;
    height: 100%;
}
.shopModel{
    background: white;
    margin-bottom: .4rem;
}
.slide_banner_describe{
    font-size: .426667rem;
    color: rgb(46, 46, 46);
    text-indent: .133333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    padding: .266667rem  .466667rem !important;
}
.padDivLR35{
    padding: .026667rem  .466667rem;
}
.slide_banner_price {
    padding: .266667rem  .466667rem !important;
}
.slide_banner_price .nowPrice{
    color: rgb(254,146,70);
    font-size: .506667rem;
}
.slide_banner_price .delPrice{
    color: rgb(187,187,187);
    font-size: .32rem;
    margin-left: .2rem;
    position: relative;
    top: .16rem;
}
.slide_banner_price .yueNumber{
    font-size: .32rem;
    display: inline-block;
    color: rgb(153,153,153);
    height: .68rem;
    line-height: .68rem;
    padding: 0 .266667rem;
    border: .026667rem solid rgb(194,194,194);
    border-radius: .2rem;
    background: rgb(241,241,241);
}
.choseAttr{
    height: 1.306667rem;
    line-height: 1.306667rem;
    box-sizing: border-box;
    border-top: .013333rem solid rgb(229,229,229);
    border-bottom: .013333rem solid rgb(229,229,229);
    justify-content: space-between;
}
.choseAttr .leftDiv{
    font-size: .426667rem;
    color: rgb(46,46,46);

}
.choseAttr .rightDiv{
    font-size: .373333rem;
    color: rgb(102,102,102);
}
/* 商品评价 */
.commodityEvaluation{
    border-top: .013333rem solid rgb(229,229,229);
}
.commodityEvaluation .label-box{
    padding: .266667rem  .466667rem !important;
}
.commodityEvaluation .label-box span{
    padding: 0 .25rem;
    height: .586667rem;
    line-height: .586667rem;
    border-radius: .586667rem;
    background: rgb(241,241,241);
    color: rgb(102,102,102);
    font-size: .32rem;
    display: inline-block;
    margin: 0 .1rem .1rem 0;
    float: left;
}
.commodityEvaluation .label-box span.on{
    color: rgb(255,255,255) !important;
    background: rgb(80,191,242) !important;
}
.evaluation-list .evaluationItem{
    padding: .266667rem  .466667rem !important;
    border-bottom: .013333rem solid rgb(240,240,240);
}
.evaluationItem-head{
    justify-content: space-between;
    align-items: center;
}
.evaluationItem-head .evaluationItem-left{
    justify-content: space-between;
    align-items: center;
}
.evaluationItem-head .left-img{
    width: .88rem;
    height: .88rem;
    border-radius: .88rem;
    overflow: hidden;
}
.evaluationItem-head .left-img img{
    width: .88rem;
    height: .88rem;
}
.evaluationItem-head .left-username{
    font-size: .346667rem;
    color: rgb(80,191,242);
    margin-left: .266667rem;
}
.evaluationItem-center {
    margin: .266667rem 0 0 0;
}
.evaluationItem-center .center-describe{
    font-size: .373333rem;
    color: rgb(46,46,46);
    margin: .266667rem 0;
}
.evaluationItem-center .center-imgbox img{
    width: 1.533333rem;
    height: 1.546667rem;
    margin-right: .466667rem;
    margin-bottom: .266667rem;
    float: left;
}
.evaluationItem-center .center-imgbox img:nth-of-type(4n){
    margin-right: 0 !important;
}
.evaluationItem-footer{
    justify-content: space-between;
    align-items: center;
}
.footer-left span{
    margin-right: .4rem;
    color: rgb(153,153,153);
    font-size: .306667rem;
    float: left;

}
.footer-right{
    color: rgb(230,230,230);
    font-size: .306667rem;
}

.shop-details img{
    width: 100%;
    float: left;
}
.toTop{
    width: 1.013333rem;
    height: 1.013333rem;
    background: white;
    border-radius: 1.013333rem;
    text-align: center;
    flex-direction: column;
    position: fixed;
    bottom: 2.346667rem;
    right: .44rem;
}
.toTop div{
    font-size: .306667rem;
    color: rgb(117,117,117);
}
.toTop div:nth-of-type(1) i{
    position: relative;
    top: .08rem;
}
.fixed-footer{
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.306667rem;
    z-index: 99;
    background: white;
}
.fixed-footer .kefu,.fixed-footer .shoucang{
    width: 1.666667rem;
    flex-direction: column;
    font-size: .293333rem;
    color: rgb(102,102,102);
    align-items: center;
    align-content: center;
}
.fixed-footer .joinin,.fixed-footer .buyIt{
    width: 250px;
    font-size: .373333rem;
    color: rgb(255,255,255);
    height: 1.306667rem;
    line-height: 1.306667rem;
    text-align: center;
}
.fixed-footer .joinin{
    background: rgb(252,142,65);
}
.fixed-footer .buyIt{
    background: rgb(243,54,54);
}

/* 弹窗 */
.dialog-details{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    z-index: 100;
    display: none;
}
.attr-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;

}
.attr-bottom>div{
    width: 50% !important;
}
.dialog-content{
    position: fixed;
    bottom: 1.306667rem;
    max-height:11.813333rem;
    background: white; 
    width: 100%;
    padding: .266667rem;
}
.dialog-content .content-head{
    /* align-items: center; */
    height: 2rem;
    border-bottom: .026667rem solid rgb(231,231,231);
}
.dialog-content .content-head .left{
    width: 2.72rem;
    position: relative;
    margin-right: .266667rem;
}
.dialog-content .content-head .center{
    width: 5.866667rem;
}
.dialog-content .content-head .center .price{
    font-size: .426667rem;
    color: rgb(254,146,70);
}
.dialog-content .content-head .center .price span{
    font-weight: bold;
}
.dialog-content .content-head .center .kucun{
    font-size: .346667rem;
    color: rgb(51,51,51);
    font-weight: bold;
}
.dialog-content .content-head .center .kucun span{
    font-size: .32rem;
    font-weight: normal;
}
.dialog-content .content-head .center .xuanze{
    font-size: .346667rem;
    color: rgb(46,46,46);
}
.dialog-content .content-head .center .xuanze span{
    font-size: .346667rem;
    color: rgb(46,46,46);

}
.dialog-content .content-head .right{
    width: .533333rem;
    color: rgb(102,102,102);
    
}
.dialog-content .content-head .right i{
    font-size: .533333rem;
}
.dialog-content .content-head .left>div{
    width: 2.76rem;
    height: 2.76rem;
    background: white;
    border-radius: .2rem;
    text-align: center;
    position: absolute;
    top: -1.013333rem;
    z-index: 100;
}
.dialog-content .content-head .left img{
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    top: 0.08rem;
    
}
.dialog-content .content-con{
    max-height:9.3rem ;
    overflow-y: scroll;
}
.dialog-content .content-con .content-list{
    padding: .266667rem .133333rem;
    border-bottom: .013333rem solid rgb(231,231,231);
}
.dialog-content .content-con .content-list .title{
    color: rgb(117,117,117);
    font-size: .373333rem;
}
.dialog-content .content-con .content-list .content div{
    display: inline-block;
    margin-right: .213333rem;
    margin-bottom: .213333rem;
    font-size: .346667rem;
    color: rgb(102,102,102);
    background: rgb(245,245,245);
    padding: 0 .266667rem;
    height: .853333rem;
    line-height: .853333rem;
    border-radius: .853333rem;
}
.dialog-content .content-con .content-list .content div.on{
    border: .026667rem solid rgb(252,142,65);
    background: rgb(252,243,237) !important;
    color: rgb(254,146,70) !important;
}
.dialog-content .content-con .content-list .content div.none{
    background: rgb(245,245,245);
    color: rgb(187,187,187);
}
.dialog-content .content-con .content-list .content div img{
    width: .586667rem;
    height: .586667rem;
    transform:translateY(.133333rem); 
    margin-right: .08rem;

}
.xiangqing.dialog-details .dialog-content {
    padding-left: 0;
    padding-right: 0;
}
.xiangqing.dialog-details .content-head{
    font-size: .426667rem;
    color: rgb(51,51,51);
    font-weight: bold;
    height: auto;
    padding-bottom: .266667rem;
}
.xiangqing.dialog-details ul li{
    padding: .4rem .133333rem;
    border-bottom: 1px solid rgb(230,230,230);
}
.xiangqing.dialog-details ul li>div:nth-of-type(1){
    width: 2.666667rem;
    text-indent: .133333rem;
    font-size: .346667rem;
    color: rgb(153,153,153);
}
.xiangqing.dialog-details ul li>div:nth-of-type(2){
    font-size: .32rem;
    color: rgb(69,69,69);
    width: 6.36rem;
}
.xiangqing.dialog-details ul li>div:nth-of-type(2) span{
    margin-right: .2rem;    
}
.attr-bottom .sureBtn{
    background: rgb(80,191,242);
    color: rgb(255,255,255);
    font-size: .373333rem;
    width: 100% !important;
    height: 1.306667rem;
    line-height: 1.306667rem;
    text-align: center;
}
.xiangqing.dialog-details ul li:last-child{
    border: none;
}