.special {
    background: #f1f1f1;
    /* padding-top: 1.3333rem; */
    padding-bottom: 2rem;
}
.coach_info_box {
    padding: 0.4rem 0.4rem 0.266rem 0.4rem;
    background: #FFFFFF;
}
.coach_info img {
    width: 2.08rem;
    height: 2.08rem;
    padding-right: 0.2933rem;
}
.coach_right{
    width: 6.77rem;
    flex-direction: column;
    justify-content:space-between;
}
.coach_title {
    flex-grow: 1;
    height: auto;
    display: flex;
    align-items: center;
    padding-right: 3px;
}
.coach_title b{
    font-size: 0.48rem;
}
.belong_school{
    width: 2.08rem;
    height: 0.74666rem;
    line-height: 0.74666rem;
    background: rgb(111,207,251);
    color: white;
    font-size: 0.3466rem;
    text-align: center;
    border-radius: 0.1333rem;

}
.coach_address{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.coach_addressSpan{
    font-size: 0.32rem;
    color: rgb(153,153,153);
}
.kuaidi_name{
    font-size: 0.4rem;
    color: rgb(51,51,51);
}
.kuaidi_number{
    font-size: 0.4rem;
    color: rgb(102,102,102);
}
.mat-top-20{
    margin-top: 0.2666rem;
}
.logistic-img{
    height: 2.08rem;
    justify-content: space-between;
    align-items: center;
}
.progress-item{
    flex-grow: 1;
}
.progress-item>p{
    color: rgb(102,102,102);
    font-size: 0.4rem;
    margin-bottom:0.2rem; 
}
.progress-item>div{
    position: relative;
    left: 0.3rem;
    margin-top: 0.3rem;
}
.progress-item:last-of-type{
    flex-grow: inherit;
}
.el-step__line{
    border-bottom: 0.04rem solid rgb(217,217,217);
}
.progress-item:last-of-type .step_box>.el-step__line{
    display: none;
}
.progress-item .step_box::after{
    content:" ";
    position: absolute;
    width: 0.4rem;
    height:0.4rem;
    border-radius: 100%;
    background: rgb(217,217,217);
    top:50%;
    margin-top: -0.2rem;
    left:0;
}
.logistics-box li{
    padding: 0 0.4rem 0 0.4rem;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(249,249,249);
    height: 2.2rem;
}
.logistics-box li .left_li{
    width: 3.3rem;
    height: 2.2rem;
    border-right: 1px solid rgb(249,249,249);
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: 'PingFang-SC-Medium'
}
.logistics-box li .left_li::after{
    content:'';
    width:0.32rem;
    height:0.32rem;
    border-radius: 0.32rem;
    background: rgb(214,214,214);
    position: absolute;
    right: -0.16rem;
    top: 50%;
    margin-top: -0.16rem;
}

.progress-item.is-active .step_box::after{
    background: rgb(255,255,255);
    box-sizing: border-box;
    border: 0.1rem solid rgb(80,191,242);
    
}
.progress-item.is-success .step_box::after{
    background:rgb(80,191,242);
}
.progress-item.is-success .el-step__line{
    border-bottom: 0.04rem solid rgb(80,191,242);
}
.logistics-box li.on .left_li::after{
    background: rgb(111,207,249);
}
.logistics-box li .left_li>div{
    height: 0.4rem;
}
.logistics-box li  .right_li{
    flex-grow: 1;
    height: 2.2rem;
    padding-left: 0.4rem;
    justify-content: center;
    align-items: center;
    color: rgb(153,153,153);
}
.logistics-box li.on  .right_li>div{
    color: rgb(111,207,251);
}
.logistics-box-progress{
    padding: 0 0.4rem 0 0.4rem;
}