.special{
	padding-top: 1.3333rem;
	background: #f1f1f1;
}
.code{
	font-size: 0.5333rem!important;
	color: #FFFFFF;
}
.list{
	width: 100%;
	height: 0.96rem;
	border-bottom:0.0133rem solid #eeeeee;
	background: #FFFFFF;
}
.school_first{
	width: 8.9333rem;
	height: 0.96rem;
	position: relative;
	background: #FFFFFF;
	float: left;
}
.school_first li{
	width: 25%;
	height: auto;
	line-height: 0.8rem;
	float: left;
	font-size: 0.3466rem;
	color: #2e2e2e;
	text-align: center;
}
.school_first span{
	width: 25%;
	height: 0.08rem;
	background: #6fcffb;
	position: absolute;
	left: 0;
	bottom: 0;
	transition:all 0.3s;
}
.more{
	width: 1.0666rem;
	height: 100%;
	text-align: center;
	line-height: 0.3733rem;
	float: right;
	border-left:0.0133rem solid #eeeeee;
	box-sizing: border-box;
}
.more i{
	font-size: 0.4666rem!important;
	color: #a5a5a5;
}
.list_content{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 0.2666rem;
	box-sizing: border-box;
}
.list_detail{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.product_water_list{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product_water_list li{
	width: 4.9333rem;
	height: auto;
	margin-bottom: 0.1333rem;
	background: #FFFFFF;
}
.product_water_img{
	width: 100%;
	height: 4.2rem;
	float: left;
}
.product_water_con{
	width: 100%;
	height: auto;
	padding: 0.1333rem 0.2666rem 0.2666rem 0.2666rem;
	box-sizing: border-box;
	float: left;
}
.water_title{
	width: 100%;
	height: 0.8266rem;
	overflow: hidden;
	font-size: 0.32rem;
	color: #000000;
}
.water_num{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.1333rem 0;
}
.water_num span{
	font-size: 0.2666rem;
	color: #cccccc;
}
.price{
	font-size: 0.3733rem;
	color: #fe9246;
}
.price i{
	font-size: 0.24rem;
}
.water_commit{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
.commit_img{
	display: flex;
	margin-right: 0.1333rem;
}
.commit_img img{
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	margin-left: -0.1066rem;
}
.commit_img img:first-child{
	margin-left: 0;
}
.water_commit span{
	font-size: 0.2933rem;
	color: #757575;
}
