.special{
	padding-top: 1.3333rem;
	padding-bottom: 1.6rem;
}
.code{
	font-size: 0.5333rem!important;
	color: #FFFFFF;
}
.list{
	width: 100%;
	height: 0.96rem;
	border-bottom:0.0133rem solid #eeeeee;
	background: #FFFFFF;
}
.school_first{
	width: 7.5rem;
	height: 0.96rem;
	position: relative;
	float: left;
}
.school_first li{
	width: 25%;
	height: auto;
	line-height: 0.8rem;
	float: left;
	font-size: 0.3466rem;
	color: #2e2e2e;
	text-align: center;
}
.school_first span{
	width: 25%;
	height: 0.08rem;
	background: #6fcffb;
	position: absolute;
	left: 0;
	bottom: 0;
	transition:all 0.3s;
}
.more{
	width: 1.5rem;
	height: 100%;
	text-align: center;
	line-height: 0.3733rem;
	float: right;
	border-right:0.0133rem solid #eeeeee;
	box-sizing: border-box;
}
.more i{
	font-size: 0.4666rem!important;
	color: #a5a5a5;
	position: relative;
}
.list_content{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0.1333rem 0 0.2666rem 0.4rem;
	box-sizing: border-box;
}
.list_detail{
	width: 100%;
	height: auto;
}
.list_change{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.product_list{
	width: 100%;
	height: auto;
}
.product_list li{
	width: 100%;
	height: auto;
	margin-top: 0.32rem;
	display: flex;
	justify-content: space-between;
}
.product_list li a{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
}
.product_list li img{
	width: 1.8666rem;
	height: 1.8666rem;
	border: 0.0133rem solid #eeeeee;
	box-sizing: border-box;
}
.product_right{
	width: 7.7333rem;
	height: auto;
	padding: 0 0.5333rem 0.2933rem 0.4rem;
	border-bottom: 0.0133rem solid #eeeeee;
	box-sizing: border-box;
}
.pro_title{
	width: 100%;
	height: auto;
	font-size: 0.32rem;
	color: #000000;
}
.pro_num{
	width: 100%;
	font-size: 0.32rem;
	color: #999999;
	margin: 0.1333rem 0 0.1866rem 0;
}
.pro_num i{
	margin-left: 0.3333rem;
}
.pro_price{
	width: 100%;
	height: auto;
	font-size: 0.3733rem;
	color: #fe9246;
}
/*瀑布流*/
.water_list_content{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0.2666rem;
	box-sizing: border-box;
}
.list_detail{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.product_water_list{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product_water_list li{
	width: 4.9333rem;
	height: auto;
	margin-bottom: 0.1333rem;
	background: #FFFFFF;
}
.product_water_img{
	width: 100%;
	height: 4.2rem;
	float: left;
}
.product_water_con{
	width: 100%;
	height: auto;
	padding: 0.1333rem 0.2666rem 0.2666rem 0.2666rem;
	box-sizing: border-box;
	float: left;
}
.water_title{
	width: 100%;
	height: 0.9333rem;
	overflow: hidden;
	font-size: 0.32rem;
	color: #000000;
}
.water_num{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.1333rem 0;
}
.water_num span{
	font-size: 0.2666rem;
	color: #cccccc;
}
.price{
	font-size: 0.3733rem;
	color: #fe9246;
}
.price i{
	font-size: 0.24rem;
}
.water_commit{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
.commit_img{
	display: flex;
	margin-right: 0.1333rem;
}
.commit_img img{
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	margin-left: -0.1066rem;
}
.commit_img img:first-child{
	margin-left: 0;
}
.water_commit span{
	font-size: 0.2933rem;
	color: #757575;
}

/* 右边筛选框样式 */
.screen-box{
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 1000;
}
.sx_left{
	width: 2rem;height: 100%;
}
.screen-con{
	width: 8rem;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
	right: 0;
}
.screen-footer{
	height: 1rem;
	width:100%;
	position: absolute;
	bottom: 0;
	
}

.screen-footer div{
	width: 50%;
	line-height: 1rem;
	border: 1px solid #dedede;
	float: left;
	text-align: center;
	box-sizing: border-box;
	font-size: .32rem;
}
.screen-footer .sureBtn{
	background: #fe9246;

}
/* .screen-footer div.on{
	background: #aa9b90;
	color: white;
} */
.screen-footer div:hover{
	background: #ff994e;
	color: white !important;
}
.screen-center{
	position: absolute;
	top: .8rem;
	bottom: 1rem;
	width: 100%;
	background: white;
	overflow-y: scroll;
}
.center-item{
	border-bottom: 1px solid #dedede;
	box-sizing: border-box;
	padding: .4rem;
}
.center-item-con{
	overflow: hidden;
	margin-top: .2rem;
}
.center-item-con .inputdiv{
	width: 3.1rem;
	height: .7rem;
	overflow: hidden;
}
.center-item-con input{
	width: 100%;
	height: .666667rem;
	border: 1px solid #dedede;
	float: left;
	box-sizing: border-box;
	text-indent: .133333rem;
	border-radius: .066667rem;
}
.center-item-title{
	font-size: .346667rem;
	color: #888888;
}
.screen-top{
	font-size: .373333rem;
	color: #a5a5a5;
	padding:0 .2rem;
	background: #eeeeee;
	position: fixed;
	top: 0;
	height: .8rem;
	line-height: .8rem;
	z-index: 1000;
	width: 100%;
}
.btnDiv{
	width: 32%;
	text-align: center;
	line-height: .746667rem;
	background: #ebeaea;
	color: #555;
	font-size: .32rem;
	display: inline-block;
	margin-right: 2%;
	float: left;
	margin-top: .2rem;
}
.ov{
	overflow: hidden;
}
.center-item-con1{
	margin-top: .2rem;
}
.center-item-con1 .btnDiv:nth-of-type(3n){
	margin-right:0;
}
.btnDiv.on{
	background: #ffe5d1;
	color: #ef7317;
}