i{
	font-style: normal;
}
.ov{
	overflow: hidden;
}
header.mui-bar{
	background: rgb(111,207,251);
	height: 1.333rem;
}
.mui-bar-nav~.mui-content{
	padding-top:1.333rem;
}
.mui-content{
	background: rgb(241,241,241);
	margin-bottom: 1.6rem;
	margin-top:1.333rem;
}
.mui-bar-nav{
	box-shadow:0 1px 0 rgb(221,215,208);
}
.padding-l-r-10{
	padding: 0 0.1333rem;
}
.padding-l-r-20{
	padding: 0 0.2666rem;
}
.padding-l-r-32{
	padding: 0 0.4266rem;
}
.padding-t-b-32{
	padding: 0.4266rem 0;
}
.border-bottom-1px{
	border-bottom: 1px solid rgb(215,214,213);
}
/*浅色*/
.border-bottom-1-light{
	border-bottom: 1px solid rgb(238,238,238);
}
.border-top-1px{
	border-top: 1px solid rgb(215,214,213);
}
.margin-top-16{
	margin-top: 0.21333rem;
}
.margin-bottom-16{
	margin-bottom: 0.21333rem;
}
.border-radius{
	border-radius: 0.5866rem;
}
/*按钮样式*/
.button-primary{
	background: rgb(111,207,251);
	border-radius: 0.1333rem;
	height: 0.7466rem;
	line-height: 0.7466rem;
	color: white;
	font-size: 0.3466rem;
	display: inline-block;
	padding: 0 0.3rem;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.f16{
	font-size: 0.2133rem;
}
.f18{
	/*font-size: 18px;*/
	font-size: 0.24rem;
}
.f20{
	font-size: 0.2666rem;
}
.f22{
	/*font-size: 22px;*/
	font-size: 0.29333rem;
}
.f28{
	/*font-size: 28px;*/
	font-size: 0.37333rem !important;
}
.f36{
	font-size: 0.48rem !important;
}
.f75{
	font-size: 1rem !important;
}
.color_757575{
	color: #757575;
}
.color_ccc{
	color: #CCCCCC;
}
.color_fe9426{
	color: #fe9426;
}
.lineHeight_80{
	line-height: 1rem;
}
.lineHeight_50{
	line-height: 0.666rem;
}
.lineHeight_60{
	line-height: 0.8rem;
}
.lineHeight_24{
	line-height: 0.32rem;
}
.position-abso{
	position: absolute;
}
.position-rela{
	position: relative;
}


.header-box{
	padding: 0 0.134rem;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	padding-top: 0.28rem;
}
.header-box>div{
	height: 0.773333rem;
	line-height: 0.773333rem;
}
.header-logo{
	width: 2rem;
}
.header-search{
	/*width: 5.1rem;*/
	width:7.172rem;
}
.header-search .placeholder{
	display: block;
    background-color: rgb(237,247,252);
    text-align: center;
    border-radius: 4px;
}
.header-search .placeholder .text{
    font-size: 0.3733333rem;
    display: inline-block;
    color: rgb(151,161,165);
}
.header-search .placeholder .text:before{
    color: rgb(151,161,165);
    font-size: 0.4rem;
}
.header-more{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
/*	width: 2rem;*/
	width: 0.56rem;
	margin-left:0.3rem;
}
.header-more>div{
	width:0.56rem;
	text-align: center;
	color: white;
}
.header-more>div span:before{
	font-size: 0.56rem;
}

.my-banner .mui-slider{
	height: 4rem;
	background: #EEEEEE;
}
.my-banner .mui-slider .mui-slider-group{
	height: 4rem;
}
.mui-slider img{
	width: 100%;
	height: 4rem;
}

.notice-box{
	color: rgb(111,207,251);
	height: 0.91rem;
	line-height: 0.91rem;
	background: rgb(252,254,255);
	overflow: hidden;
}
.notice-box>div{
	float: left;
}
.notice-logo{
	width: 1.92rem;
	height: 0.91rem;
	background:rgb(248,250,255);
	text-align: right;
	margin-right: 15px;
}
.notice-logo img{
	width: 1.33rem;
	height: 0.35rem;
	vertical-align:middle;
}
.notice-content{
	width: 7.64rem;
	overflow: hidden;
	font-size: 0.32rem;
	height: 0.91rem;
	color: rgb(102,102,102);
}
.notice-content li{
	width:100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #666;
}
.notice-content li a{
	color: #666;
}
.classification-box{
	padding: 0.4rem 0;
	width: 100%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-inline-flex;
	background: white;
}
.classification-box>div{
	width: 2.5rem;
	text-align: center;
	
}
.classification-img-box .iconfont{
	font-size: 0.7rem;
	color: white;
}
.classification-img-box{
	width: 1.17333rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	background: rgb(111,207,251);
}
.classification-box p{
	color: rgb(83,83,83);
	font-size: 0.347rem;
	margin-top: 5px;
}

.commom-panel{
	width: 100%;
	background: white;
}
.commom-panel-title{
	/*height: 1.7333rem;*/
	padding-top: 0.32rem;
	padding-bottom: 0.32rem;
}
.commom-panel-title>p{
	height: 0.50666rem;
	line-height: 0.50666rem;
	font-size: 0.4rem;
	font-weight: bold;
}
.col-line{
	border-left: 0.08rem solid rgb(111,207,251);
}
.commom-panel-content{
	padding-top: 0.4266rem;
	padding-bottom: 0.4266rem;
}
.commom-panel-content .slider-top-img{
	position: relative;
	height: 3.893rem;
}
.commom-panel-content .slider-top-img img{
	width: 100%;
	height: 3.893rem;
}
.slider-top-img  .icondibiao{
	font-size: 0.5rem;
}
.slider-top-img .img-text{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1rem;
	line-height: 1rem;
	background: rgba(0,0,0,0.59);
	color: white;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	font-size: 0.3467rem;
}
.slider-top-img .img-text .img-text-center{
	display: block;
	float: left;
	width: 6.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.slider-top-img .img-text .img-text-right{
	width: 1.8rem;
	display: block;
	float: right;
	text-align: right;
}
.commom-panel-content .tem-box{
	background: rgb(247,250,251);	
}
.commom-panel-content .slider-bottom-content{
	width: 100%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	background: rgb(247,250,251);
	padding-top: 0.2933rem;
	/*padding-bottom: 0.5rem;*/
	margin-bottom: 0.5rem;
}
.commom-panel-content .slider-bottom-content .left{
	width: 5.5rem;
}
.commom-panel-content .slider-bottom-content .right{
	width: 2.25rem;
}
.commom-panel-content .slider-bottom-content .left-title{
	font-size: 0.4533rem;
	font-weight: bold;
	color:rgb(45,45,45);
	margin-bottom: 0.34666rem;
}
.mui-icon-star-on{
	color: rgb(249,157,76)
}
.commom-panel-content .slider-bottom-content .left-star-group{
	margin-bottom: 0.34666rem;
}
.commom-panel-content .slider-bottom-content .left-star-group span{
	color: rgb(102,102,102);
}
.commom-panel-content .slider-bottom-content .left-tag-group{
	margin-bottom: 0.34666rem;
}
.commom-panel-content .slider-bottom-content .left-tag-group span{
	border: 1px solid rgb(230,228,229);
	border-radius: 2px;
	padding: 0.0666rem 0.1333rem;
	font-size: 0.29333rem;
	color: rgb(182,182,182);
}
.commom-panel-content .slider-bottom-content .price-box{
	font-size: 0.3466rem;
	color: rgb(102,102,102);
	line-height: 1.1rem;
	
}
.commom-panel-content .slider-bottom-content .price{
	font-size: 0.48rem;
	color: rgb(254,145,69);
}
.mui-slider-indicator{
	bottom: 0;
}
.commom-panel .hot-list-item{
	width: 100%;
	height: 5.6rem;
	background: rgb(247,250,251);
	border-radius: 15px;
	margin-bottom: 0.4rem;
}
.commom-panel .hot-list-item .list-item-title{
	font-size: 0.45333rem;
	font-weight: bold;
	text-align: center;
	position: relative;
}
.commom-panel .hot-list-item .list-item-title img{
	vertical-align: middle;
}
.commom-panel .hot-list-item .list-item-title>p{
	color: rgb(117,117,117);
	font-size: 0.24rem;
	line-height: 0.8rem;
}
.commom-panel .hot-list-item .list-item-content .list-img-box{
	width: 4.2666rem;
	height: 3.1733rem;
	background: #EEEEEE;
}
.commom-panel .hot-list-item .list-item-content .list-img-box img{
	width: 100%;
	height: 3.1733rem;
}
.commom-panel .hot-list-item .list-item-content .list-text-box{
	width: 3.5066rem;
	height: 3.1733rem;
	/*background: #EEEEEE;*/
}
.list-text-title{
	font-size: 0.4rem;
	color: rgb(46,46,46);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 0.8rem;
	border-bottom: 1px dashed rgb(204,204,204);
}
.list-btn-p i{
	font-style: normal;
	margin-right: 5px;
}
.title-bg{
	display: inline-block;
	width: 0.49333rem;
	height: 0.49333rem;
	background-size: 100% 100%;
}
.title-bg-left{
	background: url(../images/left-top1.png) no-repeat 0  0;
}
.title-bg-right{
	background: url(../images/right-top1.png) no-repeat 0  0;
}
.tag-baokuan{
	width: 1.01733rem;
	height: 0.6266rem;
	background: url(../images/tag-baokuan.png) no-repeat 0 0;
	top: 0.0666rem;
	left: 0;
	background-size: 100% 100%;
}

/*商品展示区*/
.goos-list{
	width: 100%;
	overflow: hidden;
	margin-top: 0.13333rem;
}
.goods-list .goods-list-item{
	background: white;
	position: relative;
}
.goods-list .goods-list-item>a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.goods-list-two{
	overflow: hidden;
}
.goods-list-two>div{
	width: 4.9333rem;
	height: 6.5866rem;
	background: tan;
	margin-top: 0.13333rem;
}
.goods-list-two>div:nth-of-type(2n+1){
	float: left;
}
.goods-list-two>div:nth-of-type(2n){
	float:right;
}
.goods-list-two .goods-img-box{
	width: 100%;
	height: 4.1866rem;
	background: #E1E1E1;	
}
.goods-list-two .goods-img-box img{
	width: 100%;
	height: 100%;
}
.goods-list-two .goods-title{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:0.32rem;
	color: #000000;
	line-height: 0.48rem;
}
.goods-list-two .goods-comment{
	line-height: 0.7rem;
}
.goods-list-two .goods-comment>span{
	height: 0.42rem;
	line-height: 0.42rem;
	display: inline-block;
	float: left;
	color: #757575;
}
.goods-list-two .goods-comment .img-group{
	width: 0.42rem;
	border-radius: 0.42rem 0.42rem 0.42rem 0.42rem;
	background: #E1E1E1;
	overflow: hidden;
}
.goods-list-two .goods-comment .img-group img{
	border-radius: 0.42rem 0.42rem 0.42rem 0.42rem;
	width: 0.42rem;
	height: 0.42rem;
}
.goods-list-two .goods-comment .img-group:nth-of-type(2){
	position: relative;
	left: -0.2666rem;
}
.indexFooter .mui-bar-tab .mui-tab-item.mui-active{
	color: rgb(111,207,251);
}
